
.topicDetail {
  margin-top: 7vh;
}

.topicTopInfo {
  height: 60px;
  /*line-height: 60px;*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.topicTopInfoDetail {
  display: flex;
  flex-direction: row;
}

.userImage {
  margin: 10px;
}

.authorInfo {
  display: flex;
  flex-direction: column;
}

.authorInfo_p {
  flex: 1;
  height: 22px;
  /*line-height: 10px;*/
  font-size: 13px;
  margin: 0;
  padding: auto;
}

.logo {
  height: 60px;
  width: 60px;
  line-height: 52px;
  text-align: center;
}

.topicTitle {
  background: #EEEEEE;
  font-size: 18px;
  font-weight: bold;
  padding: 8px 10px 8px;
  line-height: 20px;
}

:global(.content) {
  font-size: 13px !important;
  line-height: 23px !important;
  padding: 10px 8px 15px;
}

.topicReply {
  background: #EEEEEE;
  height: 30px;
  line-height: 30px;
  border-left: 8px solid #80BD01;
  font-size: 15px;
  padding-left: 10px;
}

.topicReply span {
  color: #80BD01;
  font-size: 14px;
}

.topicDetail ul {
  list-style: none;
}

.topicDetail ul li {
  height: auto;
  border-bottom: 1px solid #DDDDDD;
}

.replyTop {
  display: flex;
  flex-direction: row;
}

.replyAuthorImage {
  height: inherit;
  display: inline-block;
  float: left;
  width: 13%;
  margin: 10px;
}

.replyInfo {
  display: flex;
  flex-direction: column;
  /*display: inline-block;*/
  width: 82%;
  /*height: 30px;*/
  /*line-height: 48px;*/
  padding-top: 10px;
}

.replyInfo_left {
  float: left;
  font-size: 15px;
  color: #666;
}

.replyInfo_left_name {
  color: #80BD01;
  font-size: 14px;
}

.replyInfo_floor {
  float: right;
  font-size: 13px;
  color: #666;
  padding-right: 10px;
}

:global(.replyContent) {
  /*margin-left: 18%;*/
  margin-top: 10px;
  padding: 0 !important;
}

.replyDown {
  display: flex;
  justify-content: flex-end;
  height: 30px;
}

.replyDownDetail {
  width: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.replyUps{
  font-style: normal;
  position: relative;
  left:-5px;
  top: 2px;
}
