.publish{
  margin-top: 7vh;
}

.item{
  padding: 10px;
  border-bottom: 1px solid #eee;
  color: #444;
}

.input{
  box-sizing: border-box;
  width: 100%;
  line-height: 28px;
  font-size: 13px;
}

.textarea{
  box-sizing: border-box;
  width: 100%;
  height: 300px;
  line-height: 24px;
  font-size: 13px;
  resize: none;
}

.notLogin{
  display: flex;
  justify-content: center;
  margin-top: 14vh;
  font-size: 16px;
}

.loginText{
  color: #108ee9;
}
