.nav {
  position: fixed;
  background: #108ee9;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 7vh;
  line-height: 7vh;
  display: flex;
  justify-content: space-between;
}

.navBack {
  float: left;
  margin-left: 8px;
  background: transparent;
}

.nav_h2 {
  text-align: center;
  /*margin-right: 30px;*/
  font-size: 17px;
  color: #fff;
}

.navSign {
  float: right;
  margin-right: 8px;
  background: transparent;
}

.navPublish{
  float: right;
  margin-right: 8px;
  background: transparent;
}
